<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Polvo de hadas</title>
</head>
<body>
    <header class="encabezado">
        <h1>Polvo de hadas</h1>
    </header>

    <div class="categoria-juegos">
        <h2>Cooperativos</h2>
        <div class="juego-item-detail">
            <img src="../static/img/la isla prohibida.jpg" alt="la isla prohibida" class="juegos-img">
            <p class="juego-item-detail-name">La isla prohibida</p>
            <p class="juego-item-detail-precio">$42.900</p>

            <img src="../static/img/pistas cruzadas.jpg" alt="pistas cruzadas" class="juegos-img">
            <p class="juego-item-detail-name">Pistas cruzadas</p>
            <p class="juego-item-detail-precio">$17.990</p>
        </div>
    </div>
</body>
</html>