<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Polvo de hadas</title>
</head>
<body>
    <header class="encabezado">
        <h1>Polvo de hadas</h1>
    </header>

    <div class="categoria-juegos">
        <h2>Cartas</h2>
        <div class="juego-item-detail">
            <img src="../static/img/virus.jpg" alt="virus" class="juegos-img">
            <p class="juego-item-detail-name">Virus</p>
            <p class="juego-item-detail-precio">$23.500</p>

            <img src="../static/img/quien fue.jpg" alt="whiteCastle" class="juegos-img">
            <p class="juego-item-detail-name">¿Quien fue?</p>
            <p class="juego-item-detail-precio">$17.990</p>
        </div>
    </div>
</body>
</html>