<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Polvo de hadas</title>
</head>
<body>
    <header class="encabezado">
        <h1>Polvo de hadas</h1>
    </header>

    <div class="categoria-juegos">
        <h2>Educativos</h2>
        <div class="juego-item-detail">
            <img src="../static/img/aprendamos.jpg" alt="aprendamos juntos a leer" class="juegos-img">
            <p class="juego-item-detail-name">Aprendamos juntos a leer</p>
            <p class="juego-item-detail-precio">$15.500</p>

            <img src="../static/img/el señor dix.jpg" alt="el señor dix" class="juegos-img">
            <p class="juego-item-detail-name">El señor Dix</p>
            <p class="juego-item-detail-precio">$10.800</p>
        </div>
    </div>
</body>
</html>