<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Polvo de hadas</title>
</head>
<body>
    <header class="encabezado">
        <h1>Polvo de hadas</h1>
    </header>

    <div class="categoria-juegos">
        <h2>Lucha</h2>
        <div class="juego-item-detail">
            <img src="../static/img/dominion.jpg" alt="dominion" class="juegos-img">
            <p class="juego-item-detail-name">Dominion - Segunda Edición</p>
            <p class="juego-item-detail-precio">$75.600</p>

            <img src="../static/img/pequeños grandes piratas.jpg" alt="pequeños grandes piratas" class="juegos-img">
            <p class="juego-item-detail-name">Pequeños grandes piratas</p>
            <p class="juego-item-detail-precio">$49.900</p>
        </div>
    </div>
</body>
</html>