<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Polvo de hadas</title>
</head>
<body>
    <header class="encabezado">
        <h1>Polvo de hadas</h1>
    </header>

    <div class="categoria-juegos">
        <h2>Memoria</h2>
        <div class="juego-item-detail">
            <img src="../static/img/el camarero.jpg" alt="el camarero" class="juegos-img">
            <p class="juego-item-detail-name">El camarero</p>
            <p class="juego-item-detail-precio">$30.700</p>

            <img src="../static/img/say my name 2.jpg" alt="say my name 2" class="juegos-img">
            <p class="juego-item-detail-name">Say my name 2</p>
            <p class="juego-item-detail-precio">$7.490</p>
        </div>
    </div>
</body>
</html>