<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Polvo de hadas</title>
</head>
<body>
    <header class="encabezado">
        <h1>Polvo de hadas</h1>
    </header>

    <div class="categoria-juegos">
        <h2>Party game</h2>
        <div class="juego-item-detail">
            <img src="../static/img/hdp.jpg" alt="hdp" class="juegos-img">
            <p class="juego-item-detail-name">H.D.P - Hasta donde puedas</p>
            <p class="juego-item-detail-precio">$29.990</p>

            <img src="../static/img/atr.jpg" alt="atr" class="juegos-img">
            <p class="juego-item-detail-name">A.T.R - Ahora todos reimos</p>
            <p class="juego-item-detail-precio">$29.990</p>
        </div>
    </div>
</body>
</html>