<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Polvo de hadas</title>
</head>
<body>
    <header class="encabezado">
        <h1>Polvo de hadas</h1>
    </header>

    <div class="categoria-juegos">
        <h2>Tematico</h2>
        <div class="juego-item-detail">
            <img src="../static/img/galaxy trucker.jpg" alt="galaxy trucker" class="juegos-img">
            <p class="juego-item-detail-name">Galaxy trucker</p>
            <p class="juego-item-detail-precio">$67.700</p>

            <img src="../static/img/bitoku.jpg" alt="bitoku" class="juegos-img">
            <p class="juego-item-detail-name">Bitoku</p>
            <p class="juego-item-detail-precio">$88.900</p>
        </div>
    </div>
</body>
</html>